<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

</head>

<body class="container">

    <main>
        <div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
            <main class="mdl-layout__content">

                <div class="demo-blog__posts mdl-grid">
                    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Error 404</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Sorry, the page you're trying to access doesn't exist or you don't appropriate access.
                        </div>
                        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">

                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a href="/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </main>
            <div class="mdl-layout__obfuscator"></div>
        </div>
        <script src="$$hosted_libs_prefix$$/$$version$$/material.min.js"></script>
    </main>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/js/article.js"></script>

</body>

</html>